body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #F73859;
  color: #F8ECFD;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container h1 {
  flex-grow: 1;
  width: 100%;
}

.container:nth-child(1) {
  text-align: center;
}

textarea {
  color: #F8ECFD;
  border: none;
  border-radius: 0.4em;
  background-color: rgba(0,0,0,0.1);
  font-size: 1.4em;
  width: 40%;
  max-width: 40%;
  height: 70vh;
}

.container .preview {
  width: 40%;
  max-width: 40%;
  height: 70vh;
  text-align: left;
  background-color: rgba(0,0,0,0.1);
}

.container .preview .inner-preview {
  height: 90%;
  overflow-y: scroll;
  margin: 1em;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F73859;
}

::-webkit-scrollbar {
	width: 12px;
	background-color: #F73859;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

footer {
  text-align: center;
  margin: 2em;
}

footer a {
  text-decoration: none;
  font-weight: 700;
  color: #F8ECFD
}
